body {
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  color: black;
  background-color: lightblue;
}

/* Header */
#header_nav {
  background-color: lightyellow;
  border-radius: 0;
  border: 0;
  height: 135px;
}

#logo-img {
  background: url('../images/logo.png') no-repeat;
  width: 122px;
  height: 122px;
  margin: 5px 17px 5px 0px;
}

.navbar-brand {
  padding-top: 5px;
  padding-left: 35px;
  margin-bottom: 5px;
}

.navbar-brand h1 {
  font-size: 45px;
  text-shadow: -2px 2px 5px lightblue;
  margin-top: 5px;
  margin-bottom: 5px;
}
.navbar-brand p {
  font-size: 15px;
  color: lightgreen;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  background-color: lightyellow;
}

li {
  border: 1px solid lightblue;
}

#collapsable-nav {
  text-align: center;
}

.menu-header {
  margin-top: 30px;
  margin-bottom: 35px;
}
.menu-content{
  background: #999999;
  margin-bottom: 20px;
}
