body {
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  color: black;
  background-color: lightblue;
}

/* Header */
#header_nav {
  background-color: lightyellow;
  border-radius: 0;
  border: 0;
  /* height: 135px; */
}

#logo-img {
  background: url('../images/logo.png') no-repeat;
  width: 122px;
  height: 122px;
  margin: 5px 17px 5px 0px;
}

.navbar-brand {
  padding-top: 5px;
  /* padding-left: 35px;
  margin-bottom: 5px; */
}

/* Restaurant name */
.navbar-brand h1 {
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: -2px 2px 5px lightblue;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 0.75;
}

/* Get rid of link underline */
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

/* Vegetarian logo & label formatting */
.navbar-brand p {
  font-size: 18px;
  color: green;
  margin-top: 15px;
  margin-bottom: 5px;
}

.navbar-brand p span {
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
  /* background-color: lightyellow; */
}

#nav-list a {
  color: black;
  text-align: center;
}

#nav-list a:hover {
  /* color: darkgrey; */
  background: lightgrey;
}

#nav-list a span {
  font-size: 12px;
}

#phone {
  margin-top: 5px;
}

#phone a {
  text-align: right;
  padding-bottom: 0;
}

/* We deliver text */
#phone div {
  color: black;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid grey
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 30px
}
/* End Header */

/*** Large Devices ***/
@media (min-width: 1200px) {

}

/*** Medium Devices ***/
@media (min-width: 992px) and (max-width: 1199px) {
  #logo-img {
    background: url('../images/logo-medium.png') no-repeat;
    width: 90px;
    height: 90px;
    margin: 5px 5px 5px 0px;
  }
}

/*** Small Devices ***/
@media (min-width: 768px) and (max-width: 991px) {

}

/*** Extra Small Devices ***/
@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  /* Restaurant name */
  .navbar-brand h1 {
    font-size: 5vw; /* 1vw = 1% viewport width */
    padding-top: 10px;
  }

  /* Vegetarian logo & label formatting */
  .navbar-brand p {
    font-size: 3vw;
    margin-top: 12px;
  }

  .navbar-brand p img {
    height: 15px;
  }
}

#collapsable-nav a {
  font-size: 14px;
}

#collapsable-nav a span {
  font-size: 14px;
  margin-right: 5px;
}
